<p {background-color: bisque;}>
h1{ color: rgb(138,43,226);font-family: 'Times New Roman', Times, serif; font-size: larger; }

h2{ font-family: 'Times New Roman', Times, serif;font-style: italic;font-size: medium;}
p{font-style: italic;font-weight: 100;}